li, a, th, td ,h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
a{
  color: #1bbc9d;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
body {
  position: relative;	
}
.main-wrap{
	width:100%;
	margin:auto;
	max-width:760px;
	position:relative;
}
.section-even {
  background: #f0f0f0;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.section-odd {
  background: #ffffff;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
footer {
  background: #f0f0f0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
}

.btn.btn-primary {
  background-color: transparent;
  border: 1px solid #1bbc9d;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: #1bbc9d;
}
.btn{
  border-radius: 20px;
}

.btn.btn-primary:hover {
  opacity: 0.7;
}

.btn-primary-outline {
  border-color: #1bbc9d;
  color: #1bbc9d;
  min-width: 140px;
  border-radius: 23px;
}

.btn-primary-outline:hover {
  background-color: #1bbc9d;
}

.btn-xl {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 32px;
}

.myinput{
  border-radius: 20px;
}
